:root{
    --darkblue: #003082;
    --yellow: #FFC917;
    --white: #FFFFFF; 
    --red: #DB0029;
    --blue: #0063D3;
    --lightgrey: #E6E6E8;
    --background-color:#CDCDD3;
    --mediumgrey: #B4B4BC;
    --grey: #9C9CA6; 
    --darkgrey: #6A6A7A;
    --black: #070721;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color:rgb(230, 230, 233) ;
    font-family: Arial, Helvetica, sans-serif;
}


main{
    background-color: var(--yellow);
    padding: .5em;
    
}

header{
    display: flex;
    padding: 1em;
    background-color: var(--white);

    /* color: var(--darkblue); */
}

header section {
    color: var(--darkblue);
}

 header img{
     margin-top: 2em;
     margin: 2em;
     max-width: 10em;
     max-height: 10em;
    /* width: 15vw;
    max-width: 15vw;
    height: 5vh; */

} 

details{
    font-family: Arial, Helvetica, sans-serif;
    padding: .5em;
    /* display: flex; */
}

details > summary{
    background-color: var(--darkblue);
    color: var(--white);
 
    padding: .5em;
    /* content: "+"; */
    cursor: pointer;
}

details:open summary{
    content: "-"
}

h3{
    background-color: var(--darkblue);
    color: var(--white);
    width: 100% ;
    padding: .2em;
}

h4{
    background-color: var(--yellow);
    box-shadow: 1px 1px 1px var(--darkblue);
}

main section:nth-of-type(1) h2{
    background-color: var(--darkblue);
    color: var(--white);
    padding: .5em;
}

main section:nth-of-type(2) ol li{
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin: 1em;
}

main ul{
    display: flex;
    flex-direction: column;
    /* padding: .5e; */
}

main ul li{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: .5em ;
}

#intro{
    padding: .5em;
    margin-left: 1em;
}

input{
    margin: .5em;
}

main section:nth-of-type(2) ol li:nth-of-type(1) input:user-invalid{
    border: 3px solid red;
    content: "✖";
    color: red;
}
/* input:user-invalid{
    border: 3px solid red;
    content: "✖";
    color: red;
} */

/* input:user-invalid::before {
    content: "✖";
    color: red;
  } */
  

input[type="text"]{
   /* width: 100%; */
   color: blue;
}

input[type="text"]:focus{
    border: 3px solid #555;
}






#c{
    display: none;
}

#akte{
    display: none;
}

#beding{
    display: none;
}

#kinderen{
    display: none;
    
}


ol:has(li:nth-of-type(2) input[value="yes"]:checked) #akte {
        display: flex;
}

/* draai de has om, zorg ervoor dat alles displayed is tenzij het niet nodig is, 
verstop deze elementen dan  */

ol:has(li:nth-of-type(2) input[value="yes"]:checked) #beding {
    display: flex;

}

ol:has(li:nth-of-type(5) input[value="yes"]:checked) #c{
    
    display: flex; 
}

ol:has(li:nth-of-type(5) input[value="yes"]:checked) #kinderen {
    display: flex;
}

li:nth-of-type(9) input{
    border: dotted;
}


#extra1{
    display: none;
}

ul:has(li:nth-of-type(1) input:checked) #extra1{
    display: flex;
}

/* 
input#yes:checked {
    
} */

/* 
section ol li:nth-of-type(6) input:checked{
    .skip1 {
        display: block;

    }
} */

main section:nth-of-type(3) h2{

    background-color: var(--darkblue);
    color: var(--white);
    padding: .5em;
}

ul li{
    list-style-type: none;
}


fieldset{
    display: flex;
    flex-direction: column;

    border: 2px solid var(--darkblue);
}

